.canvas.data-url {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen {
  body {
    background-color: gray;
  }
  .page {
    float: left;
    background-color: white;
    border: 1px solid black;
    width: 4.25in;
    height: 5.5in;
    margin: 0.125in;
  }
  .canvas {
    width: 4in;
    height: 5in;
    margin: 0.125in;
  }
  }
@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  html,
  body,
  .page {
    background-color: white;
    padding: 0!important;
    margin: 0!important;
    overflow: hidden !important;
  }
  html,body {
    width: 100%!important;
    height: auto!important;
  }
  .page {
    width: 8.5in!important;
    height: 11in!important;
    border: 0px;
    page-break-after: always;
  }
  .page:last-child {
    page-break-after: auto;
  }
  .canvas {
    width: 8in!important;
    height: 10in!important;
    margin-top: 0.25in!important;
    margin-left: 0.25in!important;
    margin-bottom: 0!important;
    margin-right: 0!important;
    padding: 0!important;
  }
  .canvas.data-url {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  @page {
    margin: 0!important;
    padding: 0!important;
    size: 8.5in 11in;
  }
}
