.color-red {
  color: red;
}
.color-orange {
  color: coral;
}
.color-yellow {
  color: yellow;
}
.color-green {
  color: springgreen;
}
.color-blue {
  color: dodgerblue;
}
.color-purple {
  color: violet;
}
.color-pink {
  color: lightpink;
}
.color-white {
  color: white;
}
