.color-red {
  color: #F03;
}
.color-orange {
  color: #F63;
}
.color-yellow {
  color: #FF6;
}
.color-green {
  color: #0F9;
}
.color-blue {
  color: #39F;
}
.color-pink {
  color: #F0F;
}
.color-grey {
  color: #CCC;
}
.color-white {
  color: white;
}
