.nes-icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  transform: scale(2);
  transform-origin: top left;
}

.nes-icon.is-small {
  margin: 0;
  transform: scale(1);
}

.nes-icon.is-medium {
  margin-right: 32px;
  margin-bottom: 32px;
  transform: scale(3);
}

.nes-icon.is-large {
  margin-right: 48px;
  margin-bottom: 48px;
  transform: scale(4);
}

.nes-icon::before {
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  content: "";
  background: transparent;
}
