.nes-progress {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  width: 100%;
  height: 48px;
  margin: 4px;
  color: #212529;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-progress {
    border-image-repeat: space;
  }
}

@supports (-moz-appearance: meterbar) {
  .nes-progress {
    border-image-repeat: stretch;
  }
}

.nes-progress::-webkit-progress-bar {
  background-color: #fff;
}

.nes-progress::-webkit-progress-value {
  background-color: #212529;
}

.nes-progress::-moz-progress-bar {
  background-color: #212529;
}

.nes-progress::-ms-fill {
  background-color: #212529;
  border: none;
}

.nes-progress.is-rounded {
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-progress.is-rounded {
    border-image-repeat: space;
  }
}

@supports (-moz-appearance: meterbar) {
  .nes-progress.is-rounded {
    border-image-repeat: stretch;
  }
}

.nes-progress.is-primary::-webkit-progress-bar {
  background-color: #fff;
}

.nes-progress.is-primary::-webkit-progress-value {
  background-color: #209cee;
}

.nes-progress.is-primary::-moz-progress-bar {
  background-color: #209cee;
}

.nes-progress.is-primary::-ms-fill {
  background-color: #209cee;
  border: none;
}

.nes-progress.is-success::-webkit-progress-bar {
  background-color: #fff;
}

.nes-progress.is-success::-webkit-progress-value {
  background-color: #92cc41;
}

.nes-progress.is-success::-moz-progress-bar {
  background-color: #92cc41;
}

.nes-progress.is-success::-ms-fill {
  background-color: #92cc41;
  border: none;
}

.nes-progress.is-warning::-webkit-progress-bar {
  background-color: #fff;
}

.nes-progress.is-warning::-webkit-progress-value {
  background-color: #f7d51d;
}

.nes-progress.is-warning::-moz-progress-bar {
  background-color: #f7d51d;
}

.nes-progress.is-warning::-ms-fill {
  background-color: #f7d51d;
  border: none;
}

.nes-progress.is-error::-webkit-progress-bar {
  background-color: #fff;
}

.nes-progress.is-error::-webkit-progress-value {
  background-color: #e76e55;
}

.nes-progress.is-error::-moz-progress-bar {
  background-color: #e76e55;
}

.nes-progress.is-error::-ms-fill {
  background-color: #e76e55;
  border: none;
}

.nes-progress.is-pattern::-webkit-progress-value {
  background-color: #212529;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.nes-progress.is-pattern::-moz-progress-bar {
  background-color: #212529;
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.nes-progress.is-pattern::-ms-fill {
  background-color: #212529;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  border: none;
}
