.nes-table-responsive {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.nes-table {
  table-layout: fixed;
  background-color: #fff;
  /***************************************************************************  \
    This eliminates the gap between the last row in a table and the border, as
    well as hiding the derelict pixels in the bottom right and bottom left of
    the last row of a table
  \  ***************************************************************************/
}

.nes-table tr {
  margin-left: -0.25em;
}

.nes-table th,
.nes-table td {
  position: relative;
  padding: 0.5rem;
  word-wrap: break-word;
  border-color: #212529;
  border-style: solid;
  border-width: 0 0.25em 0.25em 0;
}

.nes-table th:last-child,
.nes-table td:last-child {
  border-right-width: 0;
}

.nes-table th::after, .nes-table th::before,
.nes-table td::after,
.nes-table td::before {
  position: absolute;
  display: block;
  width: 0.25em;
  height: 0.25em;
  content: "";
  background-color: #212529;
}

.nes-table th::after,
.nes-table td::after {
  bottom: -0.25em;
  left: -0.25em;
}

.nes-table th::before,
.nes-table td::before {
  top: -0.25em;
  right: -0.25em;
}

.nes-table th:last-child::before,
.nes-table td:last-child::before {
  top: initial;
  bottom: -0.25em;
}

.nes-table.is-centered th {
  text-align: center;
}

.nes-table.is-bordered {
  margin: 4px;
  border-spacing: 0;
  border-collapse: separate;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-table.is-bordered {
    border-image-repeat: space;
  }
}

@supports (-moz-appearance: meterbar) {
  .nes-table.is-bordered {
    border-image-repeat: stretch;
  }
}

.nes-table.is-dark {
  color: #fff;
  background-color: #212529;
}

.nes-table.is-dark::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.nes-table.is-dark.is-bordered {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  border-image-outset: 0;
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-table.is-dark.is-bordered {
    border-image-repeat: space;
  }
}

@supports (-moz-appearance: meterbar) {
  .nes-table.is-dark.is-bordered {
    border-image-repeat: stretch;
  }
}

.nes-table.is-dark th,
.nes-table.is-dark td {
  border-color: #fff;
}

.nes-table.is-dark th::after, .nes-table.is-dark th::before,
.nes-table.is-dark td::after,
.nes-table.is-dark td::before {
  display: none;
}

.nes-table tbody tr:last-child th,
.nes-table tbody tr:last-child td,
.nes-table thead:last-child tr:last-child th,
.nes-table thead:last-child tr:last-child td {
  border-bottom-width: 0;
}

.nes-table tbody tr:last-child th:first-child::after, .nes-table tbody tr:last-child th:last-child::before,
.nes-table tbody tr:last-child td:first-child::after,
.nes-table tbody tr:last-child td:last-child::before,
.nes-table thead:last-child tr:last-child th:first-child::after,
.nes-table thead:last-child tr:last-child th:last-child::before,
.nes-table thead:last-child tr:last-child td:first-child::after,
.nes-table thead:last-child tr:last-child td:last-child::before {
  display: none;
}
