.nes-text.is-primary {
  color: #209cee;
}

.nes-text.is-success {
  color: #92cc41;
}

.nes-text.is-warning {
  color: #f7d51d;
}

.nes-text.is-error {
  color: #e76e55;
}

.nes-text.is-disabled {
  color: #d3d3d3;
}
