h2, th {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border: 2px solid black;
}

td {
	height: 6.5em;
	width: 1.4in;
	vertical-align: top;
}

@media print {
	#controls {
		display: none;
	}
}